:root {
  --link-color: #3376d2;
}
body {
  font: 1.1rem sans-serif;
  max-width: 1020px;
  width: calc(100% - 10vw);
  margin: min(2vw, 2rem) auto;
}

h4 {
  font-size: 1.1em;
  text-transform: uppercase;
  color: #888;
  border-bottom: 0.05em solid #888;
  margin: 0 0 0.7em -0.5em;
  padding: 0 0 0.3em 0.5em;
  font-weight: 550;
  letter-spacing: -0.01em;
}
h4 small {
  text-transform: initial;
  font-weight: initial;
  letter-spacing: initial;
}
note {
  font-size: 0.8em;
}
note .local {
  margin: 0 0.25em;
}


section {
  margin: 1.5em 0 0.75em;
}
h3 {
  font-weight: initial;
  margin: 0.25em 0;
}
a {
  text-decoration: none;
  color: var(--link-color);
}
a:not(.local) {
  font-size: 0.92em;
  display: inline-block;
  margin: 0.1em 0;
}
a:not(.local):hover {
  text-decoration: underline;
}

.local {
  padding: 0.25em 0.5em;
  font-size: 9pt;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--link-color);
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgb(71 83 102 / 10%), 0 1px 2px rgb(0 0 0 / 5%);
  overflow: hidden;
  cursor: default;
}
a.local {
  display: flex;
  width: fit-content;
  margin: 0.75em 0 1em;
  cursor: pointer;
}
a + a.local, note + a.local {
  margin-top: 0.5em;
}
a.local:hover {
  background: var(--link-color);
  color: white;
}

year {
  font-size: 0.7em;
  font-style: italic;
}
year:before {
  content: "(";
}
year:after {
  content: ")";
}

ul {
  margin: 0.5em 0;
  font-size: 0.85em;
}
li {
  line-height: 1.3;
}