html {
    background: #444 url('texture.png');
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    display: flex;
}
a {
    background: #fff url('loading.svg') center no-repeat;
    background-size: contain;
    border-radius: 8px;
    box-shadow: 0 8px 0 #ddd, 0 15px 20px rgba(0, 0, 0, 0.35);
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
canvas {
    display: none;
}
a:hover, a:focus, a:active {
    box-shadow: 0 4px 0 #444, 0 0px 30px rgba(0, 0, 0, 0.6);
    transform: translate(0, 5px);
}
a > span {
    display: inline-block;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
}
a:hover > span, a:focus > span, a:active > span {
    background: rgba(0, 0, 0, 0.6);
}
a > span > span {
    display: inline-block;
    opacity: 0;
    text-shadow: 0 0 1vh black;
    font: 2.4vh 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: white;
    transform: translate(0, 8px);
    text-shadow: 0 1px 0 #333, 0 0 10px black;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
a:hover > span > span, a:focus > span > span, a:active > span > span {
    opacity: 1;
    transform: translate(0, 0);
}
a {
    height: 80vh;
    width: calc(80vh*8.5/11);
    display: block;
}
a:first-child {
    margin-right: 5vw;
}

@media (min-width: 1136px) and (min-height: 600px),
(min-width: 1136px) and (min-height: 600px) {
    a {
        height: 65vh;
        width: calc(65vh*8.5/11);
    }
    a:first-child {
        margin-right: 10vw;
    }
}

@media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
(max-width: 768px)  and (min-resolution: 192dpi) {
    a {
        height: 50vh;
        width: calc(50vh*8.5/11);
    }
}

@media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
(max-width: 768px) and (min-resolution: 192dpi) {
    a {
        height: 80vh;
        width: calc(80vh*8.5/11);
    }
}

@media (max-width: 100vh) {
    body {
        display: block;
        text-align: center;
    }
    a {
        height: 39vh;
        width: 39vh;
        display: block;
        margin-left: auto;
        margin-right: auto !important;
    }
    a:first-child {
        margin-bottom: 4vh;
    }
}

@media (max-height: 45vw) {
    a > span > span {
        font-size: 1.25vw;
    }
}